@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}
body {
    position: relative;;
    width: 98vw;
    margin: 0px auto;
    background-image: url(img/background.jpg);
    text-align: center;
}
#board {
    display: inline-block;
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.336);
    padding: 15px;
    border: 2px dashed black;
    width: 92vh;
    min-height: 90vh;
    margin: 20px auto;
    .row {
        text-align: start;
        width: 99%;
        margin: 0px auto;
    }
    .candy {
        display: inline-block;
        width: 128px;
        height: 128px;
    }
}
#reset {
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
}