* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

body .board {
    background-color: whitesmoke;
    border: 20px solid burlywood;
    width: 70vw;
    margin: 50px auto;
    .row {
        display: block;
        width: max-content;
        margin: 0px auto;
        img {
            display: inline-block;
            width: 169px;
        }
    }
}